<div *ngIf="tags" class="p-2 m-2 bg-white rounded">
    <h5>Топ тегов:</h5>
    <div *ngFor="let tag of tags">
        <a class="link mx-2" title='Перейти к тегу "{{tag.name}}"' [routerLink]="['/tags', tag.name]">
            {{tag.name}}
        </a>
    </div>
</div>

<div *ngIf="errorMessage" class="p-2 m-2 bg-white rounded">
    <p class="text-danger">
        {{errorMessage}}
    </p>
    <button class="btn" (click)="getTopTags()">
        Обновить
    </button>
</div>

<div *ngIf="!tags && !errorMessage" class="d-flex flex-column align-items-center">
    <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>