<div *ngIf="isReady; then tagsBlock; else loadingBlock"></div>

<ng-template #tagsBlock>
    <div class="p-2 m-2 bg-white rounded d-flex flex-row flex-wrap">
        <a class="link m-1 p-1" *ngFor="let tag of tags" [routerLink]="['/tags', tag.name]">
            {{tag.name}}
        </a>
    </div>
    <div class="d-flex flex-column align-items-center">
        <button class="button button_fill" (click)="getTags()">
            Загрузить ещё
        </button>
    </div>
</ng-template>

<ng-template #loadingBlock>
    <div *ngIf="isErrorOccured; then errorOccuredBlock; else executingBlock"></div>

    <ng-template #errorOccuredBlock>
        <div class="p-2 m-2 bg-white rounded">
            <p class="text-danger">
                {{errorMessage}}
            </p>
            <button class="btn" (click)="getTags()">
                Обновить
            </button>
        </div>
    </ng-template>

    <ng-template #executingBlock>
        <div class="p-2 m-2 bg-white rounded">
            ...Загрузка
        </div>
    </ng-template>
</ng-template>