<div class="p-2 m-2 bg-white rounded clickable" [routerLink]="['/langs', snippet.language.id, snippet.id]">
    <div class="d-flex flex-row">
        <div class="m-2">
            <a class="link" [routerLink]="['/langs', snippet.language.name]">
                {{snippet.language.name}}
            </a>
        </div>
        <div class="m-2 text">
            {{snippet.user.username}}
        </div>
        <div class="m-2 ms-auto text">
            {{snippet.date | date:'shortDate'}}
        </div>
    </div>
    <div class="m-2">
        <h3>
            {{snippet.title}}
        </h3>
        <p>
            {{snippet.description}}
        </p>    
        <a ></a>
    </div>
    <div class="d-flex flex-row">
        <a class="link m-1 p-1" *ngFor="let tag of snippet.tags" [routerLink]="['/tags', tag.id]">
            {{tag.name}}
        </a>
    </div>
    <div class="d-flex">
        <a class="group__item button button_fill">Share</a>
        <div class="mx-2 ms-auto text">
            {{snippet.like}}
        </div>
    </div>
</div>